.socialicons {
    // display: flex;
    // justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #6F2B87;
    border-bottom-right-radius: 20px;

}

.about {
    border: 2px solid #6F2B87;
    border-bottom-left-radius: 70px;
    
}

.skills {
    border-right: 2px solid;

}

p {
    color: #6F2B87;
    font-size: large;
}


// .portfolio {
   
    
// }

.certs {
    border-left: 2px solid;

}

// .midpics {
//     margin-top: 300px;
// }
// .certlist {
//     position: absolute;
//     margin-top: 20px;
// }

// .certhr {
//     position: absolute;
//     border: 3px solid #6F2B87;
//     transform: rotate(-90deg);
// }

// .certwrite {
//     position: absolute;
//     transform: rotate(-90deg);
// }